# Database settings
DB_NAME=goswami.ru
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5431

# Media files root prefix (path to audio files)
MEDIA_ROOT_PREFIX=~/hdd/media/bvgm.su

# Whisper settings
WHISPER_ENGINE=whisper
WHISPER_MODEL=medium
WHISPER_DEVICE=cuda
WHISPER_THREADS=4
